.cardrow{
  display: flex;
  justify-content: space-around;
  align-content: center;
}




.textForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginField{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wholeThang{
  display: flex;
  flex-direction: column;
}

